:root {
	--library-search-border-width: 2px;
	--library-opacity-on: 1;
	--library-opacity-off: 0.6;
}

#library > div:last-child {
	padding-top: var(--index-header-height);
	padding-bottom: var(--navigation-height);
	min-height: calc(100vh - var(--navigation-height) - var(--index-header-height));
}

#library > div:first-child {
	height: calc(var(--index-header-height) - 1px);
	background-color: var(--navigation-bg-white);
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1;
}

#library > div.black {
	background-color: var(--navigation-bg-black);
}

#library > div:first-child img {
	border-radius: 50%;
	margin: calc(var(--index-header-height) * 0.2);
	height: calc(var(--index-header-height) * 0.6);
	width: calc(var(--index-header-height) * 0.6);
	box-shadow: var(--index-header-icon-shadow);
	opacity: var(--library-opacity-off);
}

#library > div:first-child img:active {
	opacity: var(--library-opacity-on);
}

#library > div:first-child div {
	vertical-align: top;
	text-align: center;
	font-size: calc(var(--index-header-font-size) / 2);
	width: calc(100% - var(--index-header-height) * 3);
	display: inline-block;
	line-height: calc(var(--index-header-height) / 2);
	border-radius: calc(var(--index-header-font-size) / 2);
	border: var(--library-search-border-width) solid;
	opacity: var(--library-opacity-off);
	margin: calc(var(--index-header-height) / 4 - var(--library-search-border-width)) calc(var(--index-header-height) / 2);
}

#library > div:first-child div:active {
	opacity: var(--library-opacity-on);
}